VITE_SUPABASE_URL=https://ggpcpkklsmlldsmzjoih.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdncGNwa2tsc21sbGRzbXpqb2loIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk1MzQzMTQsImV4cCI6MjA5NTExMDMxNH0.su_-sIiqO7kNuyMxylhZER0IbVb4rClGceMJuD0S7Hs
